*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
    min-height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

#display_image{
    width: 575px;
    height: 511px;
    border: 1px solid blue;
    background-position: center;
    background-size: cover;

}
